.logo {
  height: 20px;
}

.search-container {
  width: 500px;
  display: block;
  height: 100%;
  margin-left: 50px;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
}

.search-icon {
  cursor: pointer;
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

.header-container {
  display: flex;
  height: 60px;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  align-items: center;
}
