.video-container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
  /* 여백 설정 */
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

@media screen and (min-width: 700px) {
  .video-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .video-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

p {
  font: bold;
}

.thumbnail {
  width: 100%;
  border-radius: 0.5rem;
}
